.chatWindow_div {
  // border: solid blue;
  height: 90vh;
  margin-bottom: 2em;
  width: 100%;
  padding: 10px 0 10px 10px;
}

.message-container {
  background-color: #414141;
  height: 75%;
  // width: auto;
  padding: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
  // border: solid red ;
}

.chat-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .text-area {
    background: #fbfbfb;
    height: 2.313em;
    margin-right: .625em;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: .625em;
    font-size: 1em;
    color: #333;
    width: 600px;
  }
  button {
    padding: 9px 15px;
    font-size: 1em;
    height: 2.313em;
    color: white;
    background: $green;
    cursor: pointer;
  }
}







